<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Deep learning Performance Management system - DPM</title>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
<link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Property Search Widget Form  Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'></head>
<link href='//fonts.googleapis.com/css?family=Josefin+Sans:400,100,100italic,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script>

var password_check = false;
var mail_check = false;
var mail_auth_check = false;
var mail_format_check = false;

function validate()
{
     
    var passwordElem = document.getElementById("password");
    var confirmElem = document.getElementById("confirm");
    var password = passwordElem.value;
    var confirm = confirmElem.value;
    if (password.length != confirm.length)
    {
        return;
    }
    if (password != confirm)
    {
        document.getElementById("info").innerHTML = "The password and the confirmed password are not the same.";
        passwordElem.value = "";
        confirmElem.value = "";
        passwordElem.focus();
        password_check = false;
    }
    else
    {
        document.getElementById("info").innerHTML = "The password and the confirmed password are the same.";
        password_check = true;
    }
}

var user_request = new XMLHttpRequest();
user_request.onreadystatechange = function(){
    if ((user_request.readyState == 4) && (user_request.status==200))
    {
        var res = user_request.responseText;
        if (res == 'True')
        {
           mail_check = false;
           document.getElementById("info").innerHTML = "The email address have existed. Please type other user name";
           document.getElementById("validateEmail").disabled = true;
        }
        else
        {
           mail_check = true;
           document.getElementById("validateEmail").disabled = false;
           document.getElementById("info").innerHTML = "The email address is unused.";
        }
    }
}

var mail_request = new XMLHttpRequest();
mail_request.onreadystatechange = function(){
    if ((mail_request.readyState == 4) && (mail_request.status==200))
    {
        var res = mail_request.responseText;
        if (res == 'True')
        {
           document.getElementById("info").innerHTML = "The security email have been sent. Please check your mailbox.";
        }
        else
        {
           document.getElementById("info").innerHTML = "Sending the security code have failed. Please try it later.";
        }
    }
}

function validate_mail(){
    var user_name = document.getElementById("user_name").value;
    mail_request.open("GET", "/sec_code_sender?user=" + user_name,  true);
    mail_request.send();
}

var sec_code_checker = new XMLHttpRequest();
sec_code_checker.onreadystatechange = function(){
    if ((sec_code_checker.readyState == 4) && (sec_code_checker.status==200))
    {
        var res = sec_code_checker.responseText;
        if (res == 'True')
        {
           mail_auth_check = true;
           document.getElementById("info").innerHTML = "The security code corrects.";
        }
        else
        {
           mail_auth_check = false;
           document.getElementById("info").innerHTML = "Please check your mailbox and type the right security code";
        }
    }
}

function check_sec_code(){
    var securityCode = document.getElementById("securityCode").value;
    if (8 <= securityCode.length)
    {
        sec_code_checker.open("GET", "/mail_validated?securityCode=" + securityCode,  true);
        sec_code_checker.send();
    }
}

function validate_account(){
    var mail = document.getElementById("mail").innerHTML;
    user_request.open("GET", "/accountRes?mail=" + mail,  true);
    user_request.send();
}

function generate_mail(){
   var user_name = document.getElementById("user_name").value;
   document.getElementById("mail").innerHTML = user_name + "@intel.com";
   mail_auth_check = false;
   
   reg = /^[a-zA-Z0-9_\-\.]+$/;
   result = user_name.match(reg);
   if (result == null)
   {
       mail_format_check = false;
       document.getElementById("info").innerHTML = "Please use the valid user name.";
       document.getElementById("validateEmail").disabled = true;
   }
   else
   {
       mail_format_check = true;
       validate_account();
   }
}

function validate_submit()
{
   if (!mail_format_check)
   {   
      document.getElementById("info").innerHTML = "Please check the intel user name.";
      return false;
   }
   if (!password_check)
   { 
      document.getElementById("info").innerHTML = "The password check failure.";
      return false;
   } 
   if (!mail_check)
   {
      document.getElementById("info").innerHTML = "Please enter the unregisted intel email.";
      return false;
   }
   if (!mail_auth_check)
   {
      document.getElementById("info").innerHTML = "Please check intel email security code.";
      return false;
   }
   return true;
}

</script>
<!-- //js -->
<body>
		<!---header--->
		<div class="header">
			<h1>Sign Up</h1>
		</div>
		<!---header--->
		<!---main--->
        <div class="main">
			<div class="main-section">
				<div class="property-section">
					<div class="property-bottom">
						<form id="signUp" action="#" method="post" onsubmit="return validate_submit();">
	                        {% raw xsrf_form_html() %}	
    						<div class="select-section">
                                    <div style="margin: 1em;">
                                    <label id="info" style="display: block"><h5>You haven't signned up. Please type the account informations.</h5></label>
                                    </div>
                                    <div style="margin: 1em;">
                                        <label style="display: block"><h4>User :</h4></label>
									    <input id="user_name" name="user" type="text" class="pretty-input" oninput="generate_mail()" value="aaa.bbb"/>
                                    </div>
									<div style="margin: 1em;">
                                        <label style="display: block"><h4>Mail :</h4></label>
									    <p id="mail" name="email" >@intel.com</p>
                                        <button id="validateEmail" type="button" onclick="validate_mail()"><h4>validate mail</h4></button>
                                    </div>
                                    <div style="margin: 1em;">
                                        <label style="display: block"><h4>Mail Security Code:</h4></label>
									    <input id="securityCode" name="securityCode" type="text" oninput="check_sec_code()" class="pretty-input" />
                                    </div>
                                    <div style="margin: 1em;">
                                        <label style="display: block"><h4>Password :(Please do not use important password!)</h4></label>
									    <input id="password" name="password" type="password" class="pretty-input" />
                                    </div>
                                    <div style="margin: 1em;">
                                        <label style="display: block"><h4>Confirm Password :</h4></label>
									    <input id="confirm" name="confirm" type="password" class="pretty-input" oninput="validate()"/>
                                    </div>
                                    <div style="margin: 1em;">
                                        <input id="submit" type="submit" value="sign up" />
                                    </div>
                            </div>
                        </form>
                        <hr />
                        <div style="margin: 1em;">
                            <input type="submit" value="sign in" onclick="location.href='/sign_in'" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <p>Copyright 2016 Intel PCS. All rights reserved</p>
		</div>

		<!---main--->
</body>
</html>
