<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Deep learning Performance Management system - DPM</title>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
<link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Property Search Widget Form  Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'></head>
<link href='//fonts.googleapis.com/css?family=Josefin+Sans:400,100,100italic,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script>
var login_request = new XLMHttpRequest();
login_request.onreadystatechange = function(){
    if ((login_request.readyState == 4) && (login_request.status == 200))
    {
        res = login_request.responseText;
        if (res == 'True')
        {
            doucment.getElementById("login_form").submit();
        }
        else
        {
            document.getElementById("info").inerHTML = "The user name or password is wrong. Please type again.";
        }   
    }
}


</script>
<!-- //js -->
<body>
		<!---header--->
		<div class="header">
			<h1>Sign In</h1>
		</div>
		<!---header--->
		<!---main--->
        <div class="main">
			<div class="main-section">
				<div class="property-section">
					<div class="property-bottom">
						<form id="login_form" action="#" method="post">
	                        {% raw xsrf_form_html() %}	
    						<div class="select-section"> 
								<div style="margin: 1em;">
                                    <label id="info" style="display: block"><h5>Please type the user and the password</h5></label>
                                </div>
								<div style="margin: 1em;">
                                    <label style="display: block"><h4>Email    :</h4></label>
								    <input name="mail"     type="text"     class="pretty-input" value="aaa.bbb@intel.com"/>
                                </div>
                                <div style="margin: 1em;">
                                    <label style="display: block"><h4>Password :</h4></label>
								    <input name="password" type="password" class="pretty-input" />
                                </div>
                                <div style="margin: 1em;">
                                    <input type="submit" value="sign in">
                                </div>
                            </div>
                        </form>
                        <hr />
                        <div style="margin: 1em;">
                             <input type="submit" value="sign up" onclick="location.href='/sign_up'" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <p>Copyright 2016 Intel PCS. All rights reserved</p>
		</div>

		<!---main--->
</body>
</html>
