<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Property Search Widget Form Responsive Widget Template | Home :: w3layouts</title>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
<link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Property Search Widget Form  Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'></head>
<link href='//fonts.googleapis.com/css?family=Josefin+Sans:400,100,100italic,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<body>
		<!---header--->
		<div class="header">
			<h1>Configuration Selection Panel</h1>
		</div>
		<!---header--->
		<!---main--->
			<div class="main">
				<div class="main-section">
					<div class="property-section">
						<h4>Choose the Configuration You Want</h4>
						<div class="property-bottom">
							<form action="#" method="post">
								<div class="select-section">
									<!--<div class="select-left">-->
									<div style="margin: 1em;">
                                        <label style="display: block"><h4>Emails: </h4></label>
									    <input name="email" class="pretty-input" />
                                    </div>
									<div style="margin: 1em;">
                                        <label style="display: block"><h4>Batch Size: </h4></label>
									    <input name="batch_size" value="auto" class="pretty-input" />
                                    </div>
									<div style="margin: 1em;">
                                        <label style="display: block"><h4>Iterations: </h4></label>
									    <input name="iterations" class="pretty-input" value="100" />
                                    </div>
									<div style="margin: 1em;">
                                        <label style="display: block"><h4>GPU Model: </h4></label>
										<select class="pretty-select" name="gpu_model">
											<option value="TITAN X">TITAN X</option>
											<option value="GTX-1080">GTX-1080</option>
											<option value="GTX-1070">GTX-1070</option>
										</select>
									</div>
									<div style="margin: 1em;">
                                        <label style="display: block"><h4>GPU AUTOBOOST: </h4></label>
										<select class="pretty-select" name="gpu_boost">
											<option value="Off">Off</option>
											<option value="On">On</option>
										</select>
									</div>
									<div style="margin: 1em;">
                                        <label style="display: block"><h4>Topology: </h4></label>
										<select class="pretty-select" name="topology">
											<option value="all">All</option>
											<option value="alexnet_group1">Alexnet Group1</option>
											<option value="alexnet_group2">Alexnet Group2</option>
											<option value="googlenet">Googlenet</option>
											<option value="vgg19">VGG_19</option>
										</select>
									</div>
									<!--<div class="select-left">-->
									<div style="margin: 1em;">
                                        <label style="display: block"><h4>Cuda Version: </h4></label>
										<select class="pretty-select" name="CUDA">
											<option value="cuda-7.5">cuda-7.5</option>
											<option value="cuda-8.0">cuda-8.0</option>
										</select>
									</div>
									<div style="margin: 1em;">
                                        <label style="display: block"><h4>CUDNN Version: </h4></label>
										<select class="pretty-select" name="CUDNN">
											<option value="cudnn-5.1">cudnn-5.1</option>
											<option value="cudnn-5.0">cudnn-5.0</option>
											<option value="cudnn-4.0">cudnn-4.0</option>
										</select>
									</div>
									<div style="margin: 1em;">
                                        <label style="display: block"><h4>Framework: </h4></label>
										<select class="pretty-select" name="framework">
											<option value="all">All</option>
											<option value="tensorflow">Tensorflow</option>
											<option value="caffe">Caffe</option>
										</select>
									</div>
									<div class="clear"></div>
								</div>
								<input type="submit" value="GO">
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="footer">
			<p>Copyright 2016 Intel PCS. All rights reserved</p>
		</div>

		<!---main--->
</body>
</html>
